<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Us</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/about.css') }}">
</head>

<body>
    <a href="{{ url_for('app_bp.home_page') }}"> <button class="back">Home</button></a>
    <div class="main">
        <div class="part">
            <h1>About Us</h1>
            <br>
            <p>Welcome to M062 Students' Information Hub, a web-based system created to help students of Section M062
                manage and access their personal and academic information easily.</p>
            <p>This website was developed using Python as the main programming language, with HTML, CSS, SQL, GITHUB,
                and Visual Studio Code as supporting and backup tools. It is to make sure the website works well.</p>
            <p>We, the BSIT students of Section M062 (set B), created this project as part of our school requirements,
                driven by teamwork and a desire to use technology to improve our learning experience.</p>
        </div>
    </div>
</body>

</html>