<!doctype html>
<html>

<head>
  <meta charset="utf-8">
  <title>Edit {{ student['name'] }}</title>
  <link rel="stylesheet" href="../static/css/edit.css">
</head>

<body>
  <a class="back" href="{{ url_for('app_bp.profile', student_id=student_id) }}">&larr;</a>
  <div class="container">
    <div class="header">
      <h2>Edit {{ student['name'] }}</h2>
    </div>
    <form method="POST" enctype="multipart/form-data" class="form">
      <label>Name (Last, First Middle):</label>
      <input name="name" value="{{ student['name'] }}" required>
      <label>Course:</label>
      <input name="course" value="{{ student['course'] }}">
      <label>Hobbies:</label>
      <input name="hobbies" value="{{ student['hobbies'] }}">
      <label>Programming Languages Used:</label>
      <input name="languages" value="{{ student['languages'] }}">
      <label>Motto / Quote:</label>
      <input name="motto" value="{{ student['motto'] }}">
      <label>Career interests:</label>
      <fieldset class="chek">
        <legend>Select your preferred careers</legend>
        <label><input type="checkbox" value="Developer"> Software/Web Developer</label>
        <label><input type="checkbox" value="Cyber"> Cyber Security Analyst</label>
        <label><input type="checkbox" value="Support">IT Support Specialist</label>
        <label><input type="checkbox" value="Business">IT Business Analyst</label>
        <label><input type="checkbox" value="DevOps">DevOps Engineer</label>
        <label><input type="checkbox" value="Database">Database Administrator</label>
        <label><input type="checkbox" value="Cloud">Cloud Engineer</label>
        <label><input type="checkbox" value="Designer">UI/UX Designer</label>
        <label><input type="checkbox" value="Tester"> QA Tester</label>
        <label><input type="checkbox" value="Data"> Data Anaylst</label>
        <label><input type="checkbox" value="AI">AI Engineer</label>
        <label><input type="checkbox" value="Scientist">Data Scientist </label>
        <label><input type="checkbox" value="Mobile">Mobile App Developer </label>
        <label><input type="checkbox" value="Consultant">IT Consultant</label>
        <label><input type="checkbox" value="Administrator"> Data Administrator</label>
      </fieldset>
      <label>Reason why BSIT:</label>
      <textarea name="reason">{{ student['reason'] }}</textarea>
      <label>Change Picture:</label>
      <input class="picture" type="file" name="picture" accept="image/*">
      <div class="form-actions">
        <button class="btn" type="submit">Save Changes</button>
      </div>
    </form>
  </div>
</body>

</html>