<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/gallery.css">
    <title>Gallery</title>
</head>

<body>
    <div>
        <a class="back" href="{{ url_for('app_bp.home_page') }}">&larr; Back</a>
        <p>Gallery</p>
    </div>
    <div class="galelry">
        <div class="all">
            <img src="{{ url_for('static', filename='image/1p.jpg') }}" alt="">
            <img src="{{ url_for('static', filename='image/2p.jpg') }}" alt="">
            <img src="{{ url_for('static', filename='image/8p.jpg') }}" alt="">
            <img src="{{ url_for('static', filename='image/4p.jpg') }}" alt="">
            <img src="{{ url_for('static', filename='image/5p.jpg') }}" alt="">
            <img src="{{ url_for('static', filename='image/6p.jpg') }}" alt="">
            <img src="{{ url_for('static', filename='image/7p.jpg') }}" alt="">
            <img src="{{ url_for('static', filename='image/3p.jpg') }}" alt="">
            <img src="{{ url_for('static', filename='image/9p.jpg') }}" alt="">
            <img src="{{ url_for('static', filename='image/10p.jpg') }}" alt="">
            <img src="{{ url_for('static', filename='image/11p.jpg') }}" alt="">
            <img src="{{ url_for('static', filename='image/12p.jpg') }}" alt="">
            <img src="{{ url_for('static', filename='image/13p.jpg') }}" alt="">
            <img src="{{ url_for('static', filename='image/14p.jpg') }}" alt="">
        </div>
    </div>
</body>

</html>