<!doctype html>
<html>

<head>
  <meta charset="utf-8">
  <title>{{ student['name'] }}</title>
  <link rel="stylesheet" href="../static/css/profile.css">
</head>

<body>

  <a class="back" href="{{ url_for('app_bp.home_page') }}">&larr; Back</a>
  <div class="main">
    <div class="profile-info">
      <div class="profile">
        <img src="{{ url_for('app_bp.uploaded_file', filename=student['picture']) }}" class="avatar" alt="pic">
        <h2>{{ student['name'] }}</h2>
      </div>


      <div class="info">
        <p><strong>Course:</strong> {{ student['course'] }}</p>
        <p><strong>Hobbies:</strong> {{ student['hobbies'] }}</p>
        <p><strong>Programming Languages:</strong> {{ student['languages'] }}</p>
      </div>
      <div class="info2">
        <p><strong>Motto/Quote:</strong> {{ student['motto'] }}</p>
        <p><strong>Career interests:</strong> {{ student['Career interests'] }}</p>
        <p><strong>Reason why BSIT:</strong> {{ student['reason'] }}</p>
      </div>
    </div>
    <div class="buttons">
      <a class="btn" href="{{ url_for('app_bp.edit', student_id=student_id) }}">Edit</a>
      <form method="POST" action="{{ url_for('app_bp.delete', student_id=student_id) }}" style="display:inline;">
        <button class="btn danger" type="submit">Delete</button>
      </form>
    </div>


  </div>
</body>

</html>